In [57]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/hy-data/sample_submission.csv
/kaggle/input/hy-data/train.csv
/kaggle/input/hy-data/test.csv

In [58]:
train=pd.read_csv("/kaggle/input/hy-data/train.csv")
train

,ID,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,...,U25,U20,U14,U6,U4,V,V100,V40,ZN,Y_LABEL
0,TRAIN_00000,COMPONENT3,1486,2011,7,200,0,3,93,0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,154.0,75,0
1,TRAIN_00001,COMPONENT2,1350,2021,51,375,0,2,19,0,...,2.0,4.0,6.0,216.0,1454.0,0,NaN,44.0,652,0
2,TRAIN_00002,COMPONENT2,2415,2015,2,200,0,110,1,1,...,0.0,3.0,39.0,11261.0,41081.0,0,NaN,72.6,412,1
3,TRAIN_00003,COMPONENT3,7389,2010,2,200,0,8,3,0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.3,7,0
4,TRAIN_00004,COMPONENT3,3954,2015,4,200,0,1,157,0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.1,128,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,8,200,0,2,201,1,...,NaN,NaN,NaN,NaN,NaN,0,NaN,135.4,16,0
14091,TRAIN_14091,COMPONENT1,2784,2013,2,200,0,3,85,0,...,NaN,NaN,NaN,NaN,NaN,0,14.5,117.5,1408,0
14092,TRAIN_14092,COMPONENT3,1788,2008,9,550,0,6,0,1,...,NaN,NaN,NaN,NaN,NaN,0,NaN,54.0,1301,0
14093,TRAIN_14093,COMPONENT2,2498,2009,19,550,0,2,4,0,...,7.0,8.0,100.0,1625.0,18890.0,0,NaN,44.3,652,0
14094,TRAIN_14094,COMPONENT2,1902,2012,15,200,0,0,77,0,...,1163.0,2565.0,11296.0,181016.0,325823.0,0,NaN,47.0,612,0

In [59]:
#test 에다가 추가해줘서 새롭게 학습시키는 방식으로도 
train.groupby("Y_LABEL")["AL"].mean()

Y_LABEL
0      2.864877
1    118.188695
Name: AL, dtype: float64

In [60]:
train["Y_LABEL"].value_counts()

0    12892
1     1203
Name: Y_LABEL, dtype: int64

In [61]:
test=pd.read_csv("/kaggle/input/hy-data/test.csv")
test

,ID,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,MN,MO,NI,PQINDEX,TI,V,V40,ZN
0,TEST_0000,COMPONENT1,2192,2016,200,0,0,0,1,12,0.0,0,0,0,10,0,0,91.3,1091
1,TEST_0001,COMPONENT3,2794,2011,200,0,0,2,1,278,0.0,3,0,0,2732,1,0,126.9,12
2,TEST_0002,COMPONENT2,1982,2010,200,0,0,0,16,5,0.0,0,0,0,11,0,0,44.3,714
3,TEST_0003,COMPONENT3,1404,2009,200,0,0,3,4,163,0.0,4,3,0,8007,0,0,142.8,94
4,TEST_0004,COMPONENT2,8225,2013,200,0,0,0,6,13,0.0,0,0,0,16,0,0,63.4,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

In [62]:
alldata=pd.concat([train,test])
alldata

,ID,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,...,U25,U20,U14,U6,U4,V,V100,V40,ZN,Y_LABEL
0,TRAIN_00000,COMPONENT3,1486,2011,7.0,200,0,3.0,93.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,154.0,75,0.0
1,TRAIN_00001,COMPONENT2,1350,2021,51.0,375,0,2.0,19.0,0.0,...,2.0,4.0,6.0,216.0,1454.0,0,NaN,44.0,652,0.0
2,TRAIN_00002,COMPONENT2,2415,2015,2.0,200,0,110.0,1.0,1.0,...,0.0,3.0,39.0,11261.0,41081.0,0,NaN,72.6,412,1.0
3,TRAIN_00003,COMPONENT3,7389,2010,2.0,200,0,8.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.3,7,0.0
4,TRAIN_00004,COMPONENT3,3954,2015,4.0,200,0,1.0,157.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.1,128,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,NaN,200,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,71.2,1163,NaN
6037,TEST_6037,COMPONENT3,4131,2016,NaN,200,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,137.8,13,NaN
6038,TEST_6038,COMPONENT3,4325,2014,NaN,200,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,302.2,13,NaN
6039,TEST_6039,COMPONENT2,1364,2013,NaN,200,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,51.1,478,NaN
6040,TEST_6040,COMPONENT1,2397,2016,NaN,1597,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,80.0,970,NaN

In [63]:
alldata2=alldata[test.columns]
alldata2

,ID,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,MN,MO,NI,PQINDEX,TI,V,V40,ZN
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

In [64]:
alldata2=alldata2.drop(columns=["ID"])
alldata2

,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,MN,MO,NI,PQINDEX,TI,V,V40,ZN
0,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

In [65]:
alldata2["fe_zn"]=(alldata2["FE"]+1)/(alldata2["ZN"]+2)
alldata2

,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,MN,MO,NI,PQINDEX,TI,V,V40,ZN,fe_zn
0,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75,11.545455
1,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652,0.004587
2,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412,0.012077
3,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7,4.222222
4,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128,0.553846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163,0.899571
6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13,49.133333
6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13,3.600000
6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478,0.006250
6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970,0.005144

In [66]:
c=pd.get_dummies(alldata2,columns=["COMPONENT_ARBITRARY"])
c

,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,MN,...,PQINDEX,TI,V,V40,ZN,fe_zn,COMPONENT_ARBITRARY_COMPONENT1,COMPONENT_ARBITRARY_COMPONENT2,COMPONENT_ARBITRARY_COMPONENT3,COMPONENT_ARBITRARY_COMPONENT4
0,1486,2011,200,0,0,13,78,888,0.0,16,...,8504,5,0,154.0,75,11.545455,0,0,1,0
1,1350,2021,375,0,0,0,31,2,0.0,0,...,19,0,0,44.0,652,0.004587,0,1,0,0
2,2415,2015,200,0,0,1,2,4,0.0,0,...,17,0,0,72.6,412,0.012077,0,1,0,0
3,7389,2010,200,0,0,0,1,37,0.0,1,...,44,0,0,133.3,7,4.222222,0,0,1,0
4,3954,2015,200,0,0,0,0,71,0.0,0,...,217,0,0,133.1,128,0.553846,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,1714,2014,200,0,0,3,130,1047,0.0,65,...,1999,0,0,71.2,1163,0.899571,0,0,1,0
6037,4131,2016,200,0,0,5,2,736,0.0,5,...,693,0,0,137.8,13,49.133333,0,0,1,0
6038,4325,2014,200,0,0,0,0,53,0.0,0,...,69,0,0,302.2,13,3.600000,0,0,1,0
6039,1364,2013,200,0,0,0,62,2,0.0,0,...,5,0,0,51.1,478,0.006250,0,1,0,0
6040,2397,2016,1597,1,0,0,0,4,0.0,0,...,14,0,0,80.0,970,0.005144,1,0,0,0

In [67]:
a= alldata2.groupby("COMPONENT_ARBITRARY")["ANONYMOUS_1"].agg(["sum","mean","std","median","max","count"])
b= alldata2.groupby("YEAR")["ANONYMOUS_2"].agg(["sum","mean","std","median","max","count"])
c1=c.groupby("YEAR")["COMPONENT_ARBITRARY_COMPONENT1","COMPONENT_ARBITRARY_COMPONENT2","COMPONENT_ARBITRARY_COMPONENT3","COMPONENT_ARBITRARY_COMPONENT4"].agg(["sum","mean","std","count"])
d= alldata2.groupby("COMPONENT_ARBITRARY")["ANONYMOUS_2"].agg(["sum","mean","std","median","max","count"])

alldata2=pd.merge(alldata2,a,on="COMPONENT_ARBITRARY",how="left")
alldata2=pd.merge(alldata2,b,on="YEAR",how="left")
alldata2=pd.merge(alldata2,c1,on="YEAR",how="left")
alldata2=pd.merge(alldata2,d,on="COMPONENT_ARBITRARY",how="left")
alldata2

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)

,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,...,"(COMPONENT_ARBITRARY_COMPONENT4, sum)","(COMPONENT_ARBITRARY_COMPONENT4, mean)","(COMPONENT_ARBITRARY_COMPONENT4, std)","(COMPONENT_ARBITRARY_COMPONENT4, count)",sum,mean,std,median,max,count
0,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,...,76,0.047176,0.212080,1611,3851335,382.418330,512.179984,200.0,9650,10071
1,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,...,66,0.096070,0.294902,687,1283473,387.873376,525.840323,200.0,8250,3309
2,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,...,87,0.052823,0.223749,1647,1283473,387.873376,525.840323,200.0,8250,3309
3,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,...,38,0.030135,0.171026,1261,3851335,382.418330,512.179984,200.0,9650,10071
4,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,...,87,0.052823,0.223749,1647,3851335,382.418330,512.179984,200.0,9650,10071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20131,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,...,117,0.059481,0.236584,1967,3851335,382.418330,512.179984,200.0,9650,10071
20132,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,...,87,0.063411,0.243790,1372,3851335,382.418330,512.179984,200.0,9650,10071
20133,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,...,117,0.059481,0.236584,1967,3851335,382.418330,512.179984,200.0,9650,10071
20134,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,...,111,0.064199,0.245178,1729,1283473,387.873376,525.840323,200.0,8250,3309
20135,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,...,87,0.063411,0.243790,1372,2178910,392.101854,618.474686,200.0,9650,5557

In [68]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
alldata2["COMPONENT_ARBITRARY"]=le.fit_transform(alldata2["COMPONENT_ARBITRARY"])

In [69]:
alldata2

,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,ANONYMOUS_2,AG,CO,CR,CU,FE,H2O,...,"(COMPONENT_ARBITRARY_COMPONENT4, sum)","(COMPONENT_ARBITRARY_COMPONENT4, mean)","(COMPONENT_ARBITRARY_COMPONENT4, std)","(COMPONENT_ARBITRARY_COMPONENT4, count)",sum,mean,std,median,max,count
0,2,1486,2011,200,0,0,13,78,888,0.0,...,76,0.047176,0.212080,1611,3851335,382.418330,512.179984,200.0,9650,10071
1,1,1350,2021,375,0,0,0,31,2,0.0,...,66,0.096070,0.294902,687,1283473,387.873376,525.840323,200.0,8250,3309
2,1,2415,2015,200,0,0,1,2,4,0.0,...,87,0.052823,0.223749,1647,1283473,387.873376,525.840323,200.0,8250,3309
3,2,7389,2010,200,0,0,0,1,37,0.0,...,38,0.030135,0.171026,1261,3851335,382.418330,512.179984,200.0,9650,10071
4,2,3954,2015,200,0,0,0,0,71,0.0,...,87,0.052823,0.223749,1647,3851335,382.418330,512.179984,200.0,9650,10071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20131,2,1714,2014,200,0,0,3,130,1047,0.0,...,117,0.059481,0.236584,1967,3851335,382.418330,512.179984,200.0,9650,10071
20132,2,4131,2016,200,0,0,5,2,736,0.0,...,87,0.063411,0.243790,1372,3851335,382.418330,512.179984,200.0,9650,10071
20133,2,4325,2014,200,0,0,0,0,53,0.0,...,117,0.059481,0.236584,1967,3851335,382.418330,512.179984,200.0,9650,10071
20134,1,1364,2013,200,0,0,0,62,2,0.0,...,111,0.064199,0.245178,1729,1283473,387.873376,525.840323,200.0,8250,3309
20135,0,2397,2016,1597,1,0,0,0,4,0.0,...,87,0.063411,0.243790,1372,2178910,392.101854,618.474686,200.0,9650,5557

In [70]:
train2=alldata2[:len(train)]
test2=alldata2[len(train):]

In [71]:
#n_splits=10

from sklearn.model_selection import StratifiedKFold
from catboost import CatBoostClassifier
cbc=CatBoostClassifier(verbose=100)
skf=StratifiedKFold(n_splits=10,shuffle=True,random_state=42)
result=0
best_score=0

for train_index,valid_index in skf.split(train2,train["Y_LABEL"]):
    x_train=train2.iloc[train_index]
    x_valid=train2.iloc[valid_index]
    y_train=train["Y_LABEL"].iloc[train_index]
    y_valid=train["Y_LABEL"].iloc[valid_index]
    cbc.fit(x_train,y_train,eval_set=(x_valid,y_valid),early_stopping_rounds=20,cat_features=[0,2])
    result+=cbc.predict_proba(test2)/10
    best_score+=cbc.best_score_["validation"]["Logloss"]/10

Learning rate set to 0.05935
0:	learn: 0.6343146	test: 0.6342433	best: 0.6342433 (0)	total: 57.8ms	remaining: 57.7s
100:	learn: 0.2580645	test: 0.2611597	best: 0.2608191 (90)	total: 2.37s	remaining: 21.1s
200:	learn: 0.2414465	test: 0.2583597	best: 0.2583495 (199)	total: 4.48s	remaining: 17.8s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2576831773
bestIteration = 215

Shrink model to first 216 iterations.
Learning rate set to 0.05935
0:	learn: 0.6348670	test: 0.6350208	best: 0.6350208 (0)	total: 25ms	remaining: 25s
100:	learn: 0.2561694	test: 0.2702714	best: 0.2702636 (99)	total: 2.26s	remaining: 20.1s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2688239332
bestIteration = 156

Shrink model to first 157 iterations.
Learning rate set to 0.05935
0:	learn: 0.6345711	test: 0.6352625	best: 0.6352625 (0)	total: 23.7ms	remaining: 23.7s
100:	learn: 0.2541189	test: 0.2804323	best: 0.2801052 (85)	total: 2.24s	remaining: 19.9s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2801052213
bestIteration = 85

Shrink model to first 86 iterations.
Learning rate set to 0.05935
0:	learn: 0.6340822	test: 0.6345144	best: 0.6345144 (0)	total: 26ms	remaining: 26s
100:	learn: 0.2565489	test: 0.2715669	best: 0.2715392 (97)	total: 2.15s	remaining: 19.1s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2712005206
bestIteration = 109

Shrink model to first 110 iterations.
Learning rate set to 0.05935
0:	learn: 0.6343292	test: 0.6338555	best: 0.6338555 (0)	total: 22.7ms	remaining: 22.6s
100:	learn: 0.2552527	test: 0.2688317	best: 0.2688301 (99)	total: 2.2s	remaining: 19.6s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2681113147
bestIteration = 141

Shrink model to first 142 iterations.
Learning rate set to 0.059351
0:	learn: 0.6365235	test: 0.6367548	best: 0.6367548 (0)	total: 59.9ms	remaining: 59.9s
100:	learn: 0.2578689	test: 0.2573892	best: 0.2573892 (100)	total: 2.44s	remaining: 21.8s
200:	learn: 0.2424864	test: 0.2538644	best: 0.2537827 (198)	total: 4.57s	remaining: 18.1s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2527036105
bestIteration = 236

Shrink model to first 237 iterations.
Learning rate set to 0.059351
0:	learn: 0.6364874	test: 0.6361096	best: 0.6361096 (0)	total: 22.2ms	remaining: 22.2s
100:	learn: 0.2551207	test: 0.2686021	best: 0.2685363 (98)	total: 2.21s	remaining: 19.7s
200:	learn: 0.2375475	test: 0.2670974	best: 0.2670974 (200)	total: 4.65s	remaining: 18.5s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.266171789
bestIteration = 233

Shrink model to first 234 iterations.
Learning rate set to 0.059351
0:	learn: 0.6364362	test: 0.6367571	best: 0.6367571 (0)	total: 22.1ms	remaining: 22.1s
100:	learn: 0.2559455	test: 0.2726607	best: 0.2725530 (96)	total: 2.21s	remaining: 19.7s
200:	learn: 0.2400397	test: 0.2717319	best: 0.2715627 (191)	total: 4.34s	remaining: 17.3s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2715627492
bestIteration = 191

Shrink model to first 192 iterations.
Learning rate set to 0.059351
0:	learn: 0.6365505	test: 0.6367257	best: 0.6367257 (0)	total: 22.5ms	remaining: 22.5s
100:	learn: 0.2544863	test: 0.2714274	best: 0.2713104 (99)	total: 2.17s	remaining: 19.3s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2692810223
bestIteration = 163

Shrink model to first 164 iterations.
Learning rate set to 0.059351
0:	learn: 0.6364310	test: 0.6366100	best: 0.6366100 (0)	total: 21.9ms	remaining: 21.9s
100:	learn: 0.2552857	test: 0.2786290	best: 0.2784890 (83)	total: 2.45s	remaining: 21.8s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.2784890031
bestIteration = 83

Shrink model to first 84 iterations.

In [72]:
#변수중요도
pd.Series(cbc.feature_importances_,index=train2.columns).sort_values(ascending=False)

ANONYMOUS_1                                20.133120
ANONYMOUS_2                                 9.249401
FE                                          4.961043
(COMPONENT_ARBITRARY_COMPONENT1, std)       4.525639
(COMPONENT_ARBITRARY_COMPONENT1, mean)      4.303314
(COMPONENT_ARBITRARY_COMPONENT3, mean)      4.033059
(COMPONENT_ARBITRARY_COMPONENT2, mean)      3.542744
std_y                                       3.024736
CR                                          2.726139
(COMPONENT_ARBITRARY_COMPONENT2, count)     2.599310
max_y                                       2.542641
sum_y                                       2.162823
(COMPONENT_ARBITRARY_COMPONENT2, sum)       2.126033
V40                                         2.059836
fe_zn                                       1.927096
count_y                                     1.856378
(COMPONENT_ARBITRARY_COMPONENT3, sum)       1.701856
(COMPONENT_ARBITRARY_COMPONENT2, std)       1.684502
ZN                                          1.549480
(COMPONENT_ARBITRARY_COMPONENT3, std)       1.493651
(COMPONENT_ARBITRARY_COMPONENT4, count)     1.478562
(COMPONENT_ARBITRARY_COMPONENT4, mean)      1.475096
CU                                          1.460301
(COMPONENT_ARBITRARY_COMPONENT4, sum)       1.417392
(COMPONENT_ARBITRARY_COMPONENT4, std)       1.415931
PQINDEX                                     1.195317
NI                                          0.999384
(COMPONENT_ARBITRARY_COMPONENT1, count)     0.963675
MO                                          0.919395
MN                                          0.869048
mean                                        0.859177
(COMPONENT_ARBITRARY_COMPONENT3, count)     0.833077
TI                                          0.814116
std_x                                       0.809372
max                                         0.775653
mean_y                                      0.656713
mean_x                                      0.617945
median_x                                    0.571332
median_y                                    0.525079
sum_x                                       0.485478
std                                         0.433149
YEAR                                        0.411299
count                                       0.375508
(COMPONENT_ARBITRARY_COMPONENT1, sum)       0.277543
AG                                          0.270863
count_x                                     0.230202
V                                           0.223430
H2O                                         0.148553
CO                                          0.119270
COMPONENT_ARBITRARY                         0.083748
max_x                                       0.072465
sum                                         0.009123
median                                      0.000000
dtype: float64

In [73]:
sub=pd.read_csv("/kaggle/input/hy-data/sample_submission.csv")
sub

             ID  Y_LABEL
0     TEST_0000        0
1     TEST_0001        0
2     TEST_0002        0
3     TEST_0003        0
4     TEST_0004        0
...         ...      ...
6036  TEST_6036        0
6037  TEST_6037        0
6038  TEST_6038        0
6039  TEST_6039        0
6040  TEST_6040        0

[6041 rows x 2 columns]

In [74]:
sub["Y_LABEL"] = (result[:,1]>0.16).astype(int)
sub.to_csv("jshy.csv",index=False)

In [75]:
sub["Y_LABEL"].value_counts()

0    5574
1     467
Name: Y_LABEL, dtype: int64